---
import SectionContainer from "@components/layout/SectionContainer.astro";
import Subtitle from "@components/ui/Subtitle.astro";
---

<SectionContainer class="py-16 md:py-20">
  <Subtitle>¿Qué ofrecemos?</Subtitle>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:grid-rows-2 md:p-0">
    <!-- Artículo 1: Pesas -->
    <a
      href="/servicios/pesas-fuerza"
      class="group relative aspect-square h-full w-full overflow-hidden rounded-2xl text-white transition-all duration-150 active:scale-[0.98] active:brightness-95 md:col-span-2 md:row-span-1 md:aspect-16/8"
    >
      <div class="absolute inset-0 overflow-hidden">
        <img
          src="/bento-info/bentofuerza.webp"
          alt=""
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out md:group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-5 bg-black/10"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Área de Pesas y Fuerza
        </span>
      </div>
    </a>

    <!-- Artículo 2: Spinning -->
    <a
      href="/servicios/spinning"
      class="group relative aspect-square h-full w-full overflow-hidden rounded-2xl text-white transition-all duration-150 active:scale-[0.98] active:brightness-95 md:col-start-3 md:row-span-2 md:h-full"
    >
      <div
        class="absolute inset-0 flex items-start overflow-hidden p-0 md:items-center"
      >
        <img
          src="/bento-info/bentospin.webp"
          alt=""
          class="h-full w-full object-cover object-[center_30%] transition-transform duration-300 ease-in-out md:object-center md:group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-5 bg-black/10"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-start p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Clases profesionales de Spinning
        </span>
      </div>
    </a>

    <!-- Artículo 3: area de adultos -->
    <a
      href="/servicios/area-adultos"
      class="group md:h-row-span-1 relative aspect-square h-full w-full overflow-hidden rounded-2xl text-sky-100 transition-all duration-150 active:scale-[0.98] active:brightness-95"
    >
      <div
        class="absolute inset-0 flex items-end justify-end overflow-hidden p-0"
      >
        <img
          src="/bento-info/entrenadores.webp"
          alt=""
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out md:group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-5 bg-green-300/10"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Area de Adultos
        </span>
      </div>
    </a>

    <!-- Artículo 4: tips y mas  -->
    <a
      href="/servicios/nutricion"
      class="group md:h-row-span-1 text-secondary relative aspect-square h-full w-full overflow-hidden rounded-2xl transition-all duration-150 active:scale-[0.98] active:brightness-95 md:h-full"
    >
      <div
        class="absolute inset-0 flex items-end justify-center overflow-hidden p-0"
      >
        <img
          src="/bento-info/comida.webp"
          alt=""
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out md:group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-5 bg-black/30"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-end p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Tips: Nutrición y Recuperación
        </span>
      </div>
    </a>
  </div>
</SectionContainer>
