@import "tailwindcss";

@theme {
  --color-primary: #d5fb00;
  --color-secondary: #f7f7f7;
  --color-accent: #006400;
  --color-background: #0d0e11;
  --background-image-hero-pattern: url("/fondo2.webp");

  --font-sans: "Montserrat Variable", sans-serif;
}

/* Prevenir scroll horizontal en toda la página */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Asegurar que el body ocupe todo el ancho */
body {
  width: 100%;
  position: relative;
}
