@import "tailwindcss";

@theme {
  --color-primary: #d5fb00;
  --color-secondary: #f7f7f7;
  --color-accent: #006400;
  --color-background: #f9f5f1;
  --background-image-hero-pattern: url("/fondo.jpg");
}
