---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Contáctanos | Gym Trasciende"
  description="¿Tienes preguntas o necesitas más información? Contáctanos hoy mismo y nuestro equipo estará encantado de ayudarte a alcanzar tus objetivos de fitness."
>
  <h1 class="mt-16 text-center text-4xl font-bold">Contáctanos</h1>
  <p class="mx-auto mt-4 mb-12 max-w-2xl text-center">
    ¿Tienes preguntas o necesitas más información? Contáctanos hoy mismo y
    nuestro equipo estará encantado de ayudarte a alcanzar tus objetivos de
    fitness.
  </p></Layout
>
