---
import SocialPil from "@components/social/SocialPil.astro";
import Facebook from "@components/icons/Facebook.astro";
import Instagram from "@components/icons/Instagram.astro";
import Tiktok from "@components/icons/Tiktok.astro";
---

<nav
  class="mt-8 grid grid-cols-2 gap-4 sm:flex sm:flex-wrap sm:justify-center sm:gap-x-4 sm:gap-y-4"
>
  <SocialPil
    href="https://www.facebook.com/profile.php?id=61583792785523"
    class={` 
              border border-blue-400 rounded-full 
              flex justify-center items-center gap-x-2 
              py-2 px-4
              transition 
              hover:scale-110
              bg-blue-400 hover:bg-blue-600
            `}
  >
    <Facebook class="size-6" />
    Facebook
  </SocialPil>

  <SocialPil
    href="https://www.instagram.com/trasciendegym?igsh=MmJxaHRjM2w2cG1p"
    class={` 
              border border-orange-400 rounded-full 
              flex justify-center items-center gap-x-2 
              py-2 px-4
              transition 
              hover:scale-110
              bg-orange-400 hover:bg-orange-600
            `}
  >
    <Instagram class="size-6" />
    Instagram
  </SocialPil>

  <SocialPil
    href="https://www.tiktok.com/@trasciende.gym"
    class={` 
               rounded-full 
              flex justify-center items-center gap-x-2 
              py-2 px-4
              transition 
              hover:scale-110
              bg-gray-700 hover:bg-gray-400
              text-white
              col-span-2 justify-self-center
              sm:col-span-1 sm:justify-self-auto
            `}
  >
    <Tiktok class="size-6" />
    Tiktok
  </SocialPil>
</nav>
