---
import { CountUp } from "@components/ui/CountUp.tsx";
import Subtitle from "@components/ui/Subtitle.astro";
import SectionContainer from "@components/layout/SectionContainer.astro";
---

<SectionContainer class="py-16 md:py-20">
  <Subtitle>Experiencia y Resultados</Subtitle>

  <div class="grid grid-cols-1 gap-y-10 lg:grid-cols-3">
    <div class="text-primary flex flex-col items-center justify-center">
      <span class="number text-7xl font-bold tracking-tighter tabular-nums">
        <CountUp client:visible initial={0} final={5.0} decimals={1} />
      </span>
      <span class="text-secondary items-center uppercase opacity-70"
        >Estrellas en reseñas!</span
      >
    </div>

    <div class="text-primary flex flex-col items-center justify-center">
      <span class="number text-7xl font-bold tracking-tighter tabular-nums">
        <CountUp client:visible initial={0} final={100} />%
      </span>
      <span class="text-secondary uppercase opacity-70"
        >Asesoría personalizada</span
      >
    </div>

    <div class="text-primary flex flex-col items-center justify-center">
      <span class="number text-7xl font-bold tracking-tighter tabular-nums">
        +<CountUp client:visible initial={0} final={5} />
      </span>
      <span class="text-secondary uppercase opacity-70"
        >Años de Experiencia</span
      >
    </div>
  </div>
</SectionContainer>
