---
import SectionContainer from "@components/SectionContainer.astro";
import Subtitle from "@components/Subtitle.astro";
---

<SectionContainer>
  <Subtitle>Acerca de Nosotros</Subtitle>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:grid-rows-2 md:p-0">
    <!-- Artículo 1: Pesas -->
    <a
      href="/"
      class="group relative aspect-square h-full w-full overflow-hidden rounded-2xl text-white md:col-span-2 md:row-span-1 md:aspect-[16/8]"
    >
      <div class="absolute inset-0 overflow-hidden">
        <img
          src="/bento-info/bentopesas.jpg"
          alt=""
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-[5] bg-black/20"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-start p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Area de Pesas y Fuerza
        </span>
      </div>
    </a>

    <!-- Artículo 2: Spinning -->
    <a
      href="/"
      class="group relative aspect-square h-full w-full overflow-hidden rounded-2xl text-white md:col-start-3 md:row-span-2 md:h-full"
    >
      <div
        class="absolute inset-0 flex items-start overflow-hidden p-0 md:items-center"
      >
        <img
          src="/bento-info/bentospin.jpg"
          alt=""
          class="h-full w-full object-cover object-[center_30%] transition-transform duration-300 ease-in-out group-hover:scale-110 md:object-center"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-[5] bg-black/30"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-start p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Clases profecionales de Spinning
        </span>
      </div>
    </a>

    <!-- Artículo 3: area de adultos -->
    <a
      href="/"
      class="group md:h-row-span-1 relative aspect-square h-full w-full overflow-hidden rounded-2xl text-sky-100"
    >
      <div
        class="absolute inset-0 flex items-end justify-end overflow-hidden p-0"
      >
        <img
          src="/bento-info/entrenadores.jpg"
          alt=""
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-[5] bg-green-300/10"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-start p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Area de Adultos
        </span>
      </div>
    </a>

    <!-- Artículo 4: tips y mas  -->
    <a
      href="/"
      class="group md:h-row-span-1 text-secondary relative aspect-square h-full w-full overflow-hidden rounded-2xl md:h-full"
    >
      <div
        class="absolute inset-0 flex items-end justify-center overflow-hidden p-0"
      >
        <img
          src="/bento-info/comida.jpg"
          alt=""
          class="h-full w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
        />
      </div>
      <!-- Capa oscura sobre la imagen -->
      <div class="absolute inset-0 z-[5] bg-black/40"></div>
      <div
        class="absolute inset-0 z-10 flex flex-col items-start justify-start p-4"
      >
        <span
          class="tracking-separated pr-3 text-left text-3xl font-medium text-pretty md:max-w-64"
        >
          Tips: Nutrición y Recuperación
        </span>
      </div>
    </a>
  </div>
</SectionContainer>
